<form name="input" action="#" method="post">
ID du premier client à synchroniser : <input type="text" name="from">
ID du dernier client à synchroniser : <input type="text" name="to">
Boutique d'origine des clients : <input type="text" name="origin">
<input type="submit" value="Submit">
</form>