<form name="input" action="#" method="post">
ID du premier client à synchroniser : <input type="text" name="from"><br/>
ID du dernier client à synchroniser : <input type="text" name="to"><br/>
Synchronisation avec : 
	<select name="origin">
		<option value="1">Site catalogue</option>
		<option value="2">Site de vente</option>
	</select><br/>
<input type="submit" name="syncCustomers" value="Valider">
</form>