<form name="input" action="#" method="post">
ID du premier client à synchroniser : <input type="text" name="from"><br/>
ID du dernier client à synchroniser : <input type="text" name="to"><br/>
Boutique d'origine des clients : <input type="text" name="origin"><br/>
<input type="submit" name="syncCustomers" value="Submit">
</form>