<div id="footer-container">
	<div id="footer-content">
		<div id="company">
			Gestimum 2013
		</div>
		<!--<div id="contact">
			<a href="http://www.gestimum.com"> Contactez-nous </a>
		</div>-->
	</div>
</div>