<div id="header-container">
	<div id="header-content">
		Synchroniseur Prestashop - Gestimum
	</div>
	<div id="header-menu">
		<ul id="header-menu-list">
			<li class="header-menu-elements">
				<a href="index.php?module=customers" class="header-menu-element-content">Clients</a> |
			</li>
			<li class="header-menu-elements">
				<a href="index.php?module=products" class="header-menu-element-content">Produits</a> |
			</li>
			<li class="header-menu-elements">
				<a href="index.php?module=orders" class="header-menu-element-content">Commandes</a>
			</li>
		</ul>
	</div>
</div>