<meta charset="utf-8" />
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/header.css">
<link rel="stylesheet" href="styles/body.css">
<link rel="stylesheet" href="styles/footer.css">
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="resources/favicon.png">
<title>Mexican Monkey</title>
</head>
{% include 'header.twig' %}
{% include 'body.twig' %}
{% include 'footer.twig' %}