<form name="input" action="#" method="post">
ID de la première commande à synchroniser : <input type="text" name="from"><br/>
ID de la dernière commande à synchroniser : <input type="text" name="to"><br/>
<input type="submit" name="syncOrders" value="Submit">
</form>