<form name="input" action="#" method="post">
ID de la première commande à synchroniser : <input type="text" name="from"><br/>
ID de la dernière commande à synchroniser : <input type="text" name="to"><br/>
Plateforme Prestashop d'origine  :
			<select name="origin">
				<option value="1">Site catalogue</option>
				<option value="2">Site de vente</option>
			</select><br/>
<input type="submit" name="syncOrders" value="Valider" onClick="checkOrders()">
</form>