
<form name="input" action="#" method="post" onsubmit="return checkData(this, 'commande')">
ID de la première commande à synchroniser : <input type="text" name="from"><br/>
ID de la dernière commande à synchroniser : <input type="text" name="to"><br/>
Plateforme Prestashop d'origine  :
			<select name="origin">
				<option value="1">Site catalogue</option>
				<option value="2">Site de vente</option>
			</select><br/>
<input type="submit" name="syncOrders" value="Valider">
</form>
<p>
<img src="resources/warning.png"/>Ne pas transférer les commandes sans avoir au préalable mis à jour les tiers et les articles.<br/>
Ceci pour éviter qu'il y ait des tiers ou articles non reférencés.
</p>