<form name="input" action="#" method="post">
ID du premier produit Prestashop à synchroniser : <input type="text" name="from"><br/>
ID du dernier produit Prestashop à synchroniser : <input type="text" name="to"><br/>
Boutique d'origine des produits Prestashop : <input type="text" name="origin"><br/>
<input type="submit" name="syncProducts" value="Submit">
</form>