Remonter des articles Prestashop vers Gestimum
<form name="input" action="#" method="post">
ID du premier produit Prestashop : <input type="text" name="from"><br/>
ID du dernier produit Prestashop : <input type="text" name="to"><br/>
Plateforme Prestashop d'origine  :
	<select name="origin">
		<option value="1">Site catalogue</option>
		<option value="2">Site de vente</option>
	</select><br/>
<input type="submit" name="syncProducts" value="Submit">
</form>